/* Establish predictable document body behavior */
body {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
  position: "fixed";
}

#question,
#nextButton,
#answerSection {
  font-size: 24px;
  /* Unified font size */
  font-weight: bold;
  /* Make text bold */
  color: black;
  /* Set text color to black */
}

#emailButton,
#nextButton {
  font-size: 20px;
  /* Larger button */
  background-color: yellow;
  color: red;
  padding: 10px;
  /* Padding for larger touch area */
  display: none;
  /* Initially hidden */
}

main.main-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  padding: 8px;
  margin-top: 8px;
  display: "flex";
  flex-direction: "column";
  align-items: "center";
}
